*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.details-container{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100vh; /* pode dar problemas de rolagem */
    background: #74CB48;
    position: relative;
}

.details-container .pokeball{
    position: absolute;
    left: 43%;
    top: 1%;
    opacity: 0.1    ;
}

.details-container .details-content{
    width: 367px;
    height: 412px;
    background: #FFFFFF;
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-bottom: 4px;
}

.details-container .pokemon1-detail{
    position: absolute;
    top: 16.3%;
    left: 50%;

    transform: translate(-50%, -0%);

    width: 200px;
    height: 200px;
}

.details-container .details-content .type-pokemon{
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.details-container .details-content .type-pokemon .aboutPokemon{

    width: 312px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    text-align: center;
    color: #74CB48;
}

.details-container .details-content .type-pokemon .especificationsPokemon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    width: 312px;
    height: 48px;
    background: white;
}

.details-container .details-content .type-pokemon .especificationsPokemon .especificatios{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.details-container .details-content .type-pokemon .especificationsPokemon .especificatios span{
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #666666;
}

.details-container .details-content .type-pokemon .especificationsPokemon > .weight{
    border-right: 1px solid #E0E0E0;;
}
.details-container .details-content .type-pokemon .especificationsPokemon > .moves{
    border-left: 1px solid #E0E0E0;;
}

.details-container .details-content .type-pokemon .especificationsPokemon .especificatios .measure{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;

    width: 100%;
    height: 100%;
}

.details-container .details-content .type-pokemon .especificationsPokemon .especificatios .measure-moves{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-container .details-content .type-pokemon .especificationsPokemon .especificatios .measure-moves > span{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #1D1D1D;
}